[user]
  name = Juho Hautala
  email = juho.hautala@iki.fi
  signingkey = ~/.ssh/id_ed25519.pub

[alias]
  st = status
  ci = commit
  co = checkout
  lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
  b  = branch
  dc = diff --cached

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[push]
  default = current

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

# https://git-scm.com/book/en/v2/Git-Tools-Rerere
[rerere]
	enabled = true

# use ssh for signing commits
[gpg]
	format = ssh

[commit]
	gpgsign = true
